@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:wght@300&family=Open+Sans:wght@500&display=swap');

body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
}

.navbar {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex: row;
  justify-content: space-between;
  align-items: center;
  width: 65vw;
  max-width: 600px;

  
}

h1.title {
  font-family: 'Inter', sans-serif;
  color: black;
  font-size: 30px;
  animation: imageFadeIn;
  animation-duration: 450ms;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: 1;
}

h2.title {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  animation: imageFadeIn;
  animation-duration: 1000ms;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: 1;
}

h3 {
  font-family: 'Inter', sans-serif;
}

h4 {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

div.navbar-menu {
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 15px;

align-items: center;
}

.title {
  color:black;
}
a.nav-link {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.main-content {
  background-color: rgb(255, 255, 255);
}

.title-div {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
}

.about-me-section-one {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 65vw;
  max-width: 600px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
img.profile-image{
  height: 160px;
  object-fit: scale-down;
  border-radius: 50%;
}

.about-me-section {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  
}

p.description-text {
  font-family: 'Nunito Sans', sans-serif;
}

.skills-section {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px; 
}

.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skills-row {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.project-title-div {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: -5px;
  width: 65vw;
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
}

section.project-section{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
div.project-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 600px;
  height: min-content;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 6px 6px 4px rgb(145, 143, 143);
}

div.project-description {
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 300px;
  min-height: 400px;
  margin-left: 5px;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

div.image-container {
  height: 400px;
  max-width: 400px;
  overflow: hidden;
}


img.project-image{
  height: 400px;
  object-fit: scale-down;
}

section.contact-section {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  width: 65vw;
  max-width: 900px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-bottom: 50px;
}

div.contact-info-heading {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-items: flex-start;
}

div.contact-div{
  margin-left: auto;
  margin-right: auto;
}

.shout-out-text {
  font-style: italic;
}

span.contact-item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

div.contact-links-container {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin:0px;
  border: 1px solid black;
}
 footer {
   background-color: rgb(112, 111, 111);
   height: 90px;
 }

@keyframes slideHeading{
  from {
     
    opacity: 0;
  }
  to {
    
    opacity: 1;
  }
}


.navbar-menu {
  animation: imageFadeIn;
  animation-duration: 450ms;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: 1;
}
@keyframes imageFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
img.profile-image {
  animation: imageFadeIn;
  animation-duration: 900ms;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: 1;
}

@keyframes slideAboutSection {
  from {
    transform: translateX(150%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
#about-me {
  animation: slideAboutSection;
  animation-duration: 900ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: 1;
}

@keyframes slideMyMission{
  from {
    opacity: 0;
    transform: translateX(-450%);  
    
  }
  to {
    opacity: 1;
    transform: translateX(0%);
    
  }
}
#my-mission{
  animation: slideMyMission;
  animation-duration: 1250ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: 1;
}
@keyframes slideMissionStatement {
  from {
    transform: translateX(450%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
#mission-statement {
  animation: slideMissionStatement;
  animation-duration: 1250ms;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: 1;
}

@keyframes slideSkills {
  from {
    opacity: 0;
    
  }
  to {
    opacity: 1;
    
  }
}
#all-skills-items {
  animation: slideSkills;
  animation-duration: 2000ms;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-delay: 0;
  animation-iteration-count: 1;

}

#mission-statement {
  margin: none;
}

/*
  .about-me-section {
use--  target in the opening tag of an href to open in a different tab-- as opposed to leaving the current page 

}
.about-me-text {

}
.project-section {

}
.project-description {

}
.carousel-container {

}
.contact-me-section {

}
.col-one {

}

#navbar-burger {
  display: none;
}

target--> will open a new tab 
<a href="mailto:email@example.com">Send Email</a> 
search for more info 

for linking directly to projects, one option is to link the photos in the portfolio page to the github,
and then adding the direct link to the bottom of the readme file.. be sure to have a read me for each one of those, and check against what is already provided in the current state of the projects


*/

