@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:wght@300&family=Open+Sans:wght@500&display=swap');
*{
  margin:none;
  padding:none;
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(23,23,23);
}

.navbar-contents-wrapper {
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 65vw;
  max-width: 600px;

}

h1.name-title {

  font-family: 'Open Sans', sans-serif;
  color: rgb(245,245,245);
  font-size: 30px;
  margin-bottom: 0px;
  animation: imageFadeIn;
  animation-duration: 450ms;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: 1;
}

h2.title {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color:rgb(245,245,245);
  animation: imageFadeIn;
  animation-duration: 1000ms;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: 1;
}

h2.contact-section{
  margin-right: 1.5em;
}

h3.section.title {
  font-family: 'Inter', sans-serif;
  color:rgb(245,245,245);
}



h4 {
  font-family: 'Inter', sans-serif;
  color:rgb(245,245,245);
}

p {
  color:rgb(245,245,245);
}

a {
  text-decoration: none;
}

div.navbar-links {
display: flex;
flex-direction: row;
justify-content: space-between;
gap:15px;
margin-bottom: 4px;
}


a.nav-link {
  font-family: 'Open Sans', sans-serif;
  color:rgb(245,245,245);
  
}

.main-content {
  background-color: rgb(23, 23, 23);
  border-bottom: 1px solid black;
}

.title-div {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.about-me-section-one {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 65vw;
  max-width: 600px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

img.profile-image{
  height: 160px;
  object-fit: scale-down;
  border-radius: 50%;
  animation: imageFadeIn;
  animation-duration: 450ms;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: 1;
}

.about-me-section {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
}

p.description-text {
  font-family: 'Nunito Sans', sans-serif;
  color: rgb(245,245,245);
  margin-top: 0px;
  margin-bottom: 1em;
  text-overflow: '';
  
}

p.contact-item {
  font-family: 'Open Sans', 'Sans Serif';
}
a.description-text-contact{
  font-family: 'Nunito Sans', 'San Serif';
  align-self: center;
  color:rgb(121,214,255);
}

.tool-box-item {
  font-size: 16px;
  font-family: 'Nunito Sans', 'San Serif';
  color:rgb(245,245,245);
}

h3.project-title {
  font-family: 'Open Sans';
  color: rgb(121,214,255);
  align-self: flex-start;
  margin-top: 0px;
}

a {
  color:rgb(121,214,255);
}

.skills-section {
  margin-left: auto;
  margin-right: auto;
  width: 65vw;
  max-width: 600px; 
  animation: slideSkills;
  animation-duration: 2000ms;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-delay: 0;
  animation-iteration-count: 1;
}

.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skills-column {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.project-title-div {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 65vw;
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
}

section.project-section{
  display: flex;
  flex-direction: column;
  width: 65vw;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 85px;
}
div.project-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1em;
  width: 65vw;
  max-width: 600px;
  height: min-content;
  padding: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(36,36,36);
  border-radius: 5px;
  box-shadow: 0px 6px 6px 4px black;
}
.project-title-container {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: flex-start;
  margin-top: 0px;
}

div.project-description {
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 50%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: none;
}

div.image-container {
  height: 400px;
  width: auto;
  max-width: 400px;
  overflow: hidden;
  object-fit: cover;
}


img.project-image{
  height: 400px;
  object-fit: scale-down;
}

section.contact-section {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  overflow: scroll;
}

div.footer-content-container{
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  align-items: baseline;
  
}
div.contact-items-container{
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  
}
div.item-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
  margin-right: 8px;
  padding-right: 8px;
  
}

.shout-out-text {
  font-style: italic;
}
div.item-container.is-last {
  border-right: none;
}

@keyframes slideHeading{
  from {
     
    opacity: 0;
  }
  to {
    
    opacity: 1;
  }
}

.navbar-menu {
  animation: imageFadeIn;
  animation-duration: 450ms;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: 1;
}

#about-me {
  animation: slideAboutSection;
  animation-duration: 900ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: 1;
}

@keyframes slideMyMission{
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }

}
#my-mission{
  animation: slideMyMission;
  animation-duration: 1250ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: 1;
}

@keyframes slideMissionStatement {
  from {
    transform: translateX(450%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.mission-statement {
  animation: slideMissionStatement;
  animation-duration: 1250ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  color: rgb(245,245,245);
}

@keyframes slideSkills {
  from {
    opacity: 0;
    
  }
  to {
    opacity: 1;
    
  }
}
@media (max-width:640px) {
  .main-content{
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-contents-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .skills-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }
  div.project-card {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  div.project-description {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: fit-content;
    margin-left: 0px;
    margin-right:0px;
  }
  div.project-title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
  }
  
  p.description-text{
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;

  }
  div.image-container {
    height: 400px;
    width: 100%;
    object-fit: cover;
    margin-right: auto;
    overflow: hidden;
  }
  img.project-image {
    height: 400px;
    object-fit: scale-down;
}
  
}

@media (min-width: 900px) {
  div.contact-items-container {
    flex-direction: row;
    
  }
  .item-container{
    border-right:2px solid rgb(245,245,245);
}


#navbar-burger {
  display: none;
}
}



